NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://urbnamrviwoscwpeeudo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyYm5hbXJ2aXdvc2N3cGVldWRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1Njk2MzYsImV4cCI6MjEwMDE0NTYzNn0.UtOJ-vzVT6WBX80uUm-1xyQBXRj6kqW956JzNx20ZUs
